# Temp files
*~

# NetBeans
nb-configuration.xml
# nbactions.xml

# Eclipse
.settings
.classpath
.project
.mymetadata

# IDEA
.idea/
*.ipr
*.iml
*.iws

# Maven
target/

#Gradle
.gradle/
build/
local.properties

# Android
classes/
bin/
gen/
gen-external-apklibs/
/commit-changelog.txt
