<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.jdc.template"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Ignore AndroidTV requirement to ONLY run on newer versions of Android -->
    <uses-sdk tools:overrideLibrary="android.support.v17.leanback"/>

    <!-- MyApplication -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <!-- Activities -->
        <activity
            android:name=".ui.StartupActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DirectoryActivity">
            <!-- Split support for ActionBarCompat -->
            <!--<meta-data android:name="android.support.UI_OPTIONS" android:value="splitActionBarWhenNarrow"/> -->
        </activity>
        <activity android:name=".ui.IndividualActivity"/>
        <activity android:name=".ui.IndividualEditActivity"/>
        <activity android:name=".ui.AboutActivity"/>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/pref_title"
            android:theme="@style/SettingsTheme"/>

        <!-- Android TV -->
        <activity
            android:name=".ui.tv.TVVideoSelectionActivity"
            android:banner="@drawable/ic_launcher_tv"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/appTheme.Leanback"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Google Analytics -->
        <!-- (optional) register AnalyticsReceiver and AnalyticsService to support background dispatching on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

    </application>
</manifest>