<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jdc.template"
    android:installLocation="auto"
    >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- MyApplication -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:theme="@style/Theme.AndroidTemplate"
        >
        <!-- support 18:9 form factors -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"
            />

        <!-- Activities -->
        <activity
            android:name=".ux.startup.StartupActivity"
            android:theme="@style/Theme.AndroidTemplate.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ux.main.MainActivity">
            <!-- Support Manifest Merger to expand all deep links into <intent-filter/> elements -->
            <!--<nav-graph android:value="@navigation/nav-graph"/>-->
        </activity>

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            />

        <!-- Remove the default initializer for WorkManager -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="org.jdc.template.startup.PrefsInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="org.jdc.template.startup.NotificationInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="org.jdc.template.startup.LoggingInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="org.jdc.template.startup.AppUpgradeInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="org.jdc.template.startup.ThemeInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="org.jdc.template.startup.RemoteConfigInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="org.jdc.template.startup.WorkManagerInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>