name: Alpha CI

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx6G -XX:MaxMetaspaceSize=4G"

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Setup
      env:
        ENCODED_STRING: ${{ secrets.UPLOAD_KEYSTORE }}
        APP_DISTRIBUTION_KEYS: ${{ secrets.APP_DISTRIBUTION_KEYS }}
        PLAYSTORE_KEYS: ${{ secrets.PLAYSTORE_KEYS }}
      run: |
        git log --date=format:"%Y-%m-%d" --pretty="format: * %s% b (%an, %cd)" | head -n 10 > commit-changelog.txt
        echo $ENCODED_STRING | base64 -d -i > app/upload-keystore
        echo $APP_DISTRIBUTION_KEYS > app-distribution.json
        echo PLAYSTORE_KEYS > playstore.json

    - name: License
      run: ./gradlew createLicenseReport

    - name: Build
      run: ./gradlew clean assembleAlpha bundleAlpha
      env:
        SIGNING_KEYSTORE: upload-keystore
        SIGNING_STORE_PASSWORD: ${{ secrets.UPLOAD_SIGNING_STORE_PASSWORD }}
        SIGNING_KEY_ALIAS: ${{ secrets.UPLOAD_SIGNING_KEY_ALIAS }}
        SIGNING_KEY_PASSWORD: ${{ secrets.UPLOAD_SIGNING_KEY_PASSWORD }}

    - name: Test
      run: ./gradlew testAlphaUnitTest

    - name: Lint
      run: ./gradlew lintAlpha

    - name: Detekt
      run: ./gradlew detekt detektAlpha

    - name: App Distribution
      run: ./gradlew appDistributionUploadAlpha

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-outputs
        path: app/build/outputs

    - name: Upload build reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: build-reports
        path: |
          **/build/licenses/*.html
          **/build/test-results/**/TEST-*.xml
          app/build/reports/*.html
          */build/reports/detekt/*.html
